@import "bootstrap/scss/bootstrap";


body {
  background-color: #dadbc3;
}

.card-white {

  background-color: white;
  border-radius: 6px;

}



.font-red {
  color: #874243;
}


.general-list {
  list-style: none;
  display: flex;
}



.font-green {
  color: #218838;
}
